# Игнорировать все .wav файлы
*.wav

# Игнорировать .wav файлы в конкретной папке
audio/*.wav
sounds/*.wav

# Игнорировать .wav файлы во всех вложенных папках
**/*.wav


.idea/
__pycache__/

results/
